[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
click = "*"
prettyconf = "*"
simple-rest-client = "*"

[requires]
python_full_version="3.7.4"
