[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[dev-packages]

pytest = "*"
ipdb = "*"
"pytest-cov" = "*"



[packages]

"simple-rest-client" = "*"
prettyconf = "*"
click = "*"

[requires]
python_full_version="3.7.3"
